.home{
    height: 100vh;
    color: red;
    /* background-color: blue; */
    display: flex;
    /* padding-top: 100px; */
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.img_icon{
    width: 70vh;
    margin-left: 150px;
}
.main_l{
    display: flex;
    flex: 1;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* background-color: blueviolet; */
    height: 60vh;
}
.main_l span{
    /* background-color: rgb(67, 48, 85); */
    height: 50vh;

}
.main_l span p:first-child{
    color: rgb(204, 72, 48);
    font-size: 30px;
}
.main_l span .second{
    color: rgb(226, 78, 19);
    font-weight: 500;
}
.main_l span .second span{
    font-size: 30px;
}
.main_l span .second span:last-child{
    font-size: 40px;
    color: rgb(209, 255, 5);
}
.main_l span .third{
    font-size: 20px;
}
.btn{
    margin-top: 50px;
    /* margin-left: 30px; */
}
.btn a{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 60px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}
.btn a:hover{
    background-color: rgb(245, 49, 0);
    opacity: 0.8;
    transition: all 0.3s ;
}
.main_r{
    flex: 1;
}


